@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {
    .central_block1{
        max-width: 930px;
    }
    .form .d_flex1{
        flex-wrap: wrap;
    }
    .d_flex1 input:nth-child(2) {
        max-width: 450px;
    }
    .d_flex1 input:nth-child(4) {
        max-width: 450px;
    }
    .central_block{
        max-width: 930px;
    }
    .flex_container:last-child .flex_box div:last-child {
        max-width: 160px;
    }
    .flex_container:last-child .flex_box{
        max-width: 540px
    }
    .flex_container:last-child {
        max-width: 920px;
    }
    .flex_container strong{
        font-size: 16px;
    }
    .flex_container p{
        font-size: 14px;
        line-height: 18px;
    }
    .first_cell p{
        font-size: 20px;
    }
    .third_section article p{
        font-size: 16px
    }
    .d_flex p:first-child{
        font-size: 20px;
    }
    .second_section p {
        font-family: '20 Kopeek';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
    }
header p{
    font-size: 14px;
    line-height: 18px;
}
header a{
    font-size: 16px;
    line-height: 140%;
}
    main_page h1 {
        font-size: 45px;
        line-height: 100%;
    }
    .third .paragraph{
        font-size: 16px;
        line-height: 140%;
    }
    .container4{
        margin-right: 30px;
    }



}
@media only screen and (max-width: 768px) {
.central_block1{
    max-width: 689px;
}
    .d_flex p:first-child{
        max-width: 492px;
    }
    .d_flex{
        flex-wrap: wrap;align-items:center;
    }
    .third_section img{
        margin-bottom: 15px;
    }
    .second_section .container{
        flex-wrap: wrap;
    }
    .third_section .guideline{
        margin-bottom: 69px;
    }
    .d_flex1 input:nth-child(2){
        max-width: 450px; margin-bottom: 20px;
    }
    .d_flex1 input:nth-child(4){
        max-width: 450px;
    }
    .form .d_flex1{
        flex-wrap: wrap;
    }
    .container1{
        flex-wrap: wrap;
    }
    .guideline h3{
        padding-left: 14px;
    }
    article .d_flex p{
        max-width: 460px;
    }
    .container4{
        order: 1;
    }
    .guideline img:first-child{
        display: none;
    }
    .guideline .w-100.pic{
        display: block;padding-left: 14px
    }
    .third .container3 div:last-child{
        margin-bottom: 25px;
    }
    .third .container3{
        flex-wrap: wrap;
    }
    .second_section .container .pic.d_block{
        margin-bottom: 30px;
    }
    .head_container {
        display: none;
    }
    .central_block a:first-child{
        margin-left: 39px;
    }
    .main_page{
        background: url("../images/Rectangle52.jpg") no-repeat; background-size: cover;
    }
    .main_page .central_block1 h1{
        color: #FFFFFF;
    }
    .main_page .central_block1 p{
        color: #FFFFFF;
    }
}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}