@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {
    .second_section p {
        font-family: '20 Kopeek';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
    }
header p{
    font-size: 14px;
    line-height: 18px;
}
header a{
    font-size: 16px;
    line-height: 140%;
}
    main_page h1 {
        font-size: 45px;
        line-height: 100%;
    }
    .third .paragraph{
        font-size: 16px;
        line-height: 140%;
    }
    .container4{
        margin-right: 30px;
    }



}
@media only screen and (max-width: 768px) {

    .head_container {
        display: none;
    }
    .central_block a:first-child{
        margin-left: 39px;
    }
    .main_page{
        background: url("../images/Rectangle52.jpg") no-repeat; background-size: cover;
    }
    .main_page .central_block1 h1{
        color: #FFFFFF;
    }
    .main_page .central_block1 p{
        color: #FFFFFF;
    }
}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}