
@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
.central_block{max-width: 1162px; margin: auto; display: flex; justify-content: space-between; align-content: center}
.central_block1{max-width: 1162px; margin: auto}
header{width: 100%; position: absolute;
    top: 31px;
}
.main_page{margin-bottom: 80px; padding-top: 344px; background: url("../images/main_page.jpg") no-repeat; background-size: cover; height: 100vh}
header div:first-child{
    display: flex
}
header p{max-width: 193px;   color: #FFFFFF;
    font-family: '20 Kopeek';
    font-style: normal; font-weight: normal; font-size: 15px;
    line-height: 19px; display: inline-block; margin-left: 22px}
.head_container {
    max-width: 322px; display: flex; justify-content: space-between; width: 100%
}
header a{padding: 10px 30px; color: #FFFFFF; display: inline-block; text-decoration: none; border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px}
header .logo{border: none; padding: 0; display: inline-block}
.pic{
    max-width: 635px; margin-right: 30px;
}
.d_block{
    display: block;
}
.container3 .d_block{
    max-width: 634px;
}
.w-100{
    width: 100%;
}
.main_page h1{max-width: 560px;
    font-family: '20 Kopeek'; margin-bottom: 30px;
    font-size: 55px;
    line-height: 100%;color: #181818}
.main_page p{
    font-family: '20 Kopeek';
    font-size: 34px;
    line-height: 110%;color: #181818; margin-bottom: 65px}
.main_page a{
    margin-right: 20px;
    font-family: '20 Kopeek';
    font-style: normal;font-weight: normal;
    font-size: 18px; color: #181818;
    line-height: 140% ;text-decoration: none; display: inline-block; padding: 23px 47px; border-radius: 40px; background: #FFFFFF;}
.main_page a:last-child{margin: 0}
.icon{width: 36px; height: 36px; padding: 0; border-radius: 18px; display: flex; align-items: center; justify-content: center }
.second_section h3{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 38px; line-height: 110%; margin-bottom: 5px
}
.second_section p{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%; max-width: 445px;
}
.second_section .container{
    margin-bottom: 141px; display: flex; justify-content: space-between; align-items: center; max-width: 1110px;
}
.second_section h2{
    font-family: '20 Kopeek';font-style: normal;font-weight: normal;font-size: 55px;line-height: 100%; margin-bottom: 40px;
}

.container1{
    display: flex; justify-content: space-between; max-width: 1060px;
}
.container1 div{
    max-width: 260px;
}
.container1 .unique{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 15px; line-height: 19px; max-width: 260px;
}
.container1 p{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%; max-width: 122px;
}
.container1 .mini_container{
    display: flex; justify-content: space-between; max-width:162px
}
.mini_container .first_child{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 55px; line-height: 100%; padding-right: 8px;
}
.mini_container1 .first_child{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 55px; line-height: 100%; padding-right: 8px;
}
.mini_container1{
    display: flex; justify-content: space-between
}
.second{
    margin-bottom: 120px
}
.third{
    padding-bottom: 133px
}
.third h3{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 38px; line-height: 110%; margin-bottom: 15px;
}
.third .paragraph{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;
    max-width: 396px;
}
.third .container3{
    display: flex; justify-content: space-between; align-items: flex-end ;
}
.third .container2{
    padding: 11px 13px; max-width: 416px; background: #2B59C3;
    border-radius: 5px;
}
.container4{display: flex; flex-direction: column; align-items: center; max-width: 416px}

.container2 {
    max-width: 396px; color: #FFFFFF;
}
.third_section img{
    margin-bottom: 38px;
}
article .wrapper-first{
    display: flex; justify-content: space-between; align-items: center;
}
.third_section article:first-child div:last-child{
    max-width: 516px;
}
.guideline .d_block{
    margin-right: 30px;
}
.third_section article:nth-child(2) div:last-child{
    max-width: 588px;
}
.third_section article:nth-child(3) div:last-child{
    max-width: 450px;
}
.third_section article:nth-child(4) div:last-child{
    max-width: 582px;
}
.third_section article a{border: 1px solid #181818;
    box-sizing: border-box; text-decoration: none;
    border-radius: 40px; padding: 23px 47px; display: inline-block;color: #181818;
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;

}
.third_section h3{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 55px; line-height: 100%;
}
.third_section article p{ max-width: 233px;
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%
}

.third_section article{
    margin-bottom:100px;
}
.third_section{
    padding-bottom: 150px;
}
.third_section .unique1{
    position: relative;left: 351px;background: #2B59C3;
    border-radius: 40px;font-family: '20 Kopeek';border: none; font-style: normal; font-weight: normal; font-size: 26px; line-height: 110%;color: white;
}
.d_flex{
    display: flex; justify-content: space-between; align-items: flex-start;
}
article .d_flex p{padding-left: 14px;
    max-width: 431px;
}
.d_flex p:first-child{background: #2B59C3; padding: 11px 39px 18px 14px;
    border-radius: 5px;
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 26px; line-height: 110%;color: #FFFFFF; max-width: 406px; margin-bottom: 15px;
}
.guideline h3{font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 38px; line-height: 110%; margin-bottom: 15px;
}
.third_section .guideline{
    margin-bottom: 77px;
}
.form h3{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 38px; line-height: 110%; margin-bottom: 11px;
}
.form .form_dd{ font-family: '20 Kopeek'; font-style: normal; font-weight: normal;font-size: 26px; line-height: 110%; margin-bottom: 27px;
}
.flex-column{
    flex-direction: column;
}
.footer_form input:nth-child(3){
    margin-bottom: 10px;
}
.footer_form input:nth-child(5){
    margin-bottom: 21px;
}
.contacts_form h3{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 38px; line-height: 110%; margin-bottom: 30px;
}
.contacts_form{
    padding: 150px 0 20px;
}

.footer_form input{
    max-width: 445px; width: 100%;font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;color: #868686; padding: 23px 0 23px 29px;border: 1px solid #181818; box-sizing: border-box; border-radius: 10px;
}
.footer_form input:last-child{
    border: none;background: #2B59C3;
    border-radius: 40px;max-width: 228px;color: #FFFFFF;padding: 23px 0;
}
.w-100.flex_box_.flex-column input:last-child{
    margin-bottom: 127px;
}
.footer_form
.align_center{
    align-items:center ;
}
.guideline .w-100.pic{
    display: none;
}
.footer_form div div input{
    max-width: 18px;
}
.footer_form div div{
    margin-bottom: 48px;
}

.footer_form p{
    font-family: '20 Kopeek';   font-style: normal;   font-weight: normal;   font-size: 26px;   line-height: 110%; margin-bottom: 15px;
}

.flex_start{
    align-items: flex-start;
}
a{
    text-decoration: none;
}
.footer_form label:nth-child(7){
    margin-bottom: 48px;
}
.website_signature{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;
}
.space-between{
    justify-content: space-between;
}
.contacts_form .central_block1 .heading{
    margin-bottom: 10px;
}
.form input{min-width: 0; padding: 23px 0 23px 29px;
    border: 1px solid #181818; box-sizing: border-box; border-radius: 10px; font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;color:#868686;
}
.contacts_form .flex_box_.space-between a{
    max-width: 255px;
    width: 100%;; background: #2B59C3; border-radius: 10px; margin-right: 30px;color: #FFFFFF; padding: 6px 4px 0 10px;
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;
}
.contacts_form .flex_box_.space-between.flex_start{
    margin-bottom: 38px;
}
.contacts_form a:last-child{
    margin: 0;
}
.d_flex1 input:nth-child(2){
    max-width: 350px; width: 100%;
}
.d_flex1 label{
    display: none;
}
.d_flex1 input:nth-child(4){
    max-width: 350px; width: 100%;
}
.form .d_flex1{
    display: flex; justify-content: space-between; margin-bottom: 21px; max-width: 988px;
}
.form input:last-child{
    background: #2B59C3;border: none ;border-radius: 40px; font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;color: #FFFFFF; padding: 23px 47px; cursor: pointer;
}
.form a{
    text-decoration: none;
}
.indent{display: inline-block;
    margin-left: 11px; margin-bottom: 30px;font-family: '20 Kopeek';font-style: normal;font-weight: normal; font-size: 18px; line-height: 140%;
}
.another_submit{
    display: none;
}
.flex_container{
    display: flex; justify-content: space-between; max-width: 920px; margin-bottom: 60px;
}
.flex_container:last-child{
    margin: 0;
}
.first_cell{
    max-width: 283px; width: 100%; padding-bottom: 18px;
}
.cell{
    max-width: 160px;
}
.flex_container p{ font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 15px; line-height: 19px;
}
.flex_container strong{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 18px; line-height: 140%;
}
.first_cell p{ font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 26px; line-height: 110%;
}
.first_cell img{
    margin-bottom: 23px;
}
.cell p:first-child{
    margin-bottom: 15px;
}
.fourth h2{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 55px; line-height: 100%; margin-bottom: 83px;
}
 .flex_container:last-child {
     max-width: 960px
}
 .flex_box_{
     display: flex;
 }
.flex_container:last-child .flex_box div:last-child{
     max-width: 200px;
 }
 .flex_box{
     max-width: 540px; display: flex; justify-content: space-between; width: 100%;
 }
 .flex_container:last-child .flex_box{
     max-width: 580px
 }
 .fourth article{
     padding-bottom: 150px;
 }
 .fifth_section{
     background: url("../images/bag.jpg") no-repeat; background-size: cover; padding: 282px 0 80px;
 }
.fifth_section .central_block1 div{
    display: flex; justify-content: space-between; flex-wrap: wrap;
}
.fifth_section h2{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 55px; line-height: 100%; color: #FFFFFF; margin-bottom: 40px;
}
.fifth_section span{
    font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 55px; line-height: 100%; color: #FFFFFF; display: inline-block;
}
.fifth_section p{padding-top: 20px;
    max-width: 168px; margin-left: 8px; color: #FFFFFF; font-family: '20 Kopeek'; font-style: normal; font-weight: normal; font-size: 15px; line-height: 19px; display: inline-block;
}












